body {
  background-color: #f1f1f1;
}

.header {
  display: flex;
  padding: 0px 16px;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo-link {
  margin-right: 200px;
}

.nav-links {
  display: flex;
  padding: 0;
}

.nav-links-list-item {
  display: block;
}

.nav-links-list-item:not(:last-child) {
  margin-right: 16px;
}

.nav-links-list-item-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
  height: 65px;
}

.cart-link {
  margin-left: auto;
}

.main {
  margin-top: 65px;
}

.hero-section {
  height: 400px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.hero-text-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.hero-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(4px);
}

.hero-text-subtitle {
  font-size: 36px;
  line-height: 1;
  color: white;
}

.hero-text-title {
  font-size: 48px;
  line-height: 1;
  color: white;
}

.catalog-section {
  padding: 48px 24px;
}

.hidden {
  display: none;
}

.catalog-list {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.catalog-list-item {
  display: block;
  width: 30%;
}

.catalog-list-item-link {
  display: block;
  text-decoration: none;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: transform 250ms linear;
}

.catalog-list-item-link:hover {
  transform: scale(1.05);
}

.catalog-list-item-img {
  width: 100%;
}

.catalog-list-item-text-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px 16px;
}

.catalog-list-item-text-sub-block {
  display: flex;
  justify-content: space-between;
}

.catalog-list-item-text {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.catalog-list-item-sub-text {
  color: #404040;
  font-size: 16px;
  font-weight: 600;
}

.footer {
  background-color: #303030;
  padding: 24px 48px;
}

.footer-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-list-item {
  display: block;
}

.footer-list-link {
  text-decoration: none;
  color: white;
}

.footer-list-link:hover {
  text-decoration: underline;
}

.product-sections-wrapper {
  display: flex;
  padding: 24px 48px;
}

.product-photos-section {
  display: flex;
  gap: 8px;
}

.product-photos-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-photos-list-item {
  display: block;
}

.product-photos-list-item[selected] {
  filter: brightness(0.8);
}

.product-photos-list-item:hover {
  cursor: pointer;
}

.product-photos-list-img {
  width: 5vw;
}

.product-photo-container {
  position: relative;
}

.product-photo {
  width: 35vw;
}

.product-photo-button-container {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.product-photo-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #303030;
  background: #e5e5e5;
  transition: opacity 150ms linear;
}

.product-photo-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.size-section {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.size-title {
  font-size: 24px;
}

.size-sub-title {
  font-size: 20px;
  font-weight: 600;
  color: #202020;
  margin-bottom: 16px;
}

.size-text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.size-small-text {
  font-size: 16px;
}

.size-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.size-list {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  width: 330px;
  gap: 15px;
}

.size-list-item {
  display: block;
}

.size-list-input {
  display: none;
  visibility: hidden;
}

.size-list-label {
  display: flex;
  width: 100px;
  height: 42px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 12px;
}

.size-list-label:hover {
  cursor: pointer;
}

.size-list-input:checked + .size-list-label {
  background-color: #e0e0e0;
}

.size-button {
  display: block;
  width: 300px;
  height: 60px;
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 48px;
  transition: opacity 150ms linear;
}

.size-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.cart-sections-wrapper {
  display: flex;
  padding: 24px 48px;
}

.cart-section {
  flex: 3;
}

.cart-title {
  font-size: 24px;
  margin-bottom: 16px;
}

.cart-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart-list-item {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
}

.cart-list-item-img {
  height: 100%;
}

.cart-list-item-content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 16px;
}

.cart-list-item-title {
  font-size: 16px;
}

.cart-list-item-text {
  font-size: 14px;
  font-weight: 600;
  color: #808080;
}

.cart-list-item-button {
  background-color: transparent;
  padding: 0;
  border: none;
}

.cart-list-item-button:hover {
  cursor: pointer;
}

.cart-list-item-info-container {
  display: flex;
  gap: 8px;
}

.cart-list-item-price {
  font-size: 16px;
  font-weight: 600;
}

.cart-sections-separator {
  width: 2px;
  margin: 0 40px;
  background-color: #d9d9d9;
}

.total-section {
  flex: 2;
}

.total-title {
  font-size: 24px;
  margin-bottom: 16px;
}

.total-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
}

.total-list-item {
  display: flex;
  gap: 12px;
}

.total-list-item-category {
  width: 150px;
}

.total-list-item-price {
  font-weight: 600;
}

.total-item {
  display: flex;
  gap: 12px;
  margin: 16px 0px 8px 0px;
}

.total-item-category {
  width: 150px;
}

.total-item-price {
  font-weight: 600;
}

.total-separator {
  width: 220px;
  height: 2px;
  background-color: #d9d9d9;
}

.total-form {
  margin-top: 24px;
}

.total-form-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.total-form-list-item {
  display: block;
}

.total-form-list-item-button {
  width: 220px;
  height: 40px;
  border: none;
  border-radius: 48px;
  font-size: 20px;
}

.total-form-list-item-button:hover {
  cursor: pointer;
}

.total-form-list-item-button-card {
  background-color: black;
  color: white;
}

.total-form-list-item-button-card:hover {
  opacity: 0.8;
  cursor: pointer;
}

.total-form-list-item-button-apple-pay {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: white;
  color: black;
}

.total-form-list-item-button-apple-pay:hover {
  border: 1px solid black;
}
